.o_auction .o_detail_image {
    max-width: 500px;
    max-height: 500px;
}

.o_auction_products .card{
    border: none;
    width: 400px;
    border-radius: 20px 20px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    filter: invert(40%);
}