.o_auction .o_logo {
    cursor: pointer;
}

// Design for Bid Tabs

.o_auction_header img {
    cursor: pointer;
}

.bid_tabs {
    border-radius: 30px 30px 0px 0px;
}

.bid_tabs a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;  
}

.search-container {
    float: right;

    input {
        width: 380px;
        padding: 6px 15px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
        border-radius: 8px 0 0 8px;
    }

    button {
        float: right;
        padding: 10px 15px;
        margin-top: 8px;
        background: #ffffff;
        font-size: 17px;
        border: none;
        cursor: pointer;
        border-radius: 0 8px 8px 0;
    }
}
