.navigation {
    position: relative;
    width: 100%;
    height: 50px;
    background: #ffc107;
    border-radius: 30px 30px 0 0;

    ul {
        display: flex;
        width: 100%;
        justify-content: space-around;
        overflow: hidden;

        li {
            position: relative;
            list-style: none;
            width: 70px;
            height: 70px;
            z-index: 1;
            padding-top: 8px;

            a {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                text-align: center;
                font-weight: 500;
                line-height: 75px;

                .icon {
                    position: relative;
                    display: block;
                    font-size: 1.3em;
                    text-align: center;
                    transition: 0.5s;
                    color: #222327;

                }

                .text {
                    position: absolute;
                    color: #222327;
                    font-weight: 400;
                    font-size: 1.2em;
                    transition: 0.5s;
                    opacity: 0;
                }
            }
        }
    }
}

.navigation ul li:hover a {
    .icon {
        transform: translateY(-35px);
    }
    .text {
        opacity: 1;
        // transform: translateY(10px);
    }
}
