.o_auction_products .timer_container > div {
    margin: 0 1rem 0 0;
    text-align: center;
    border: 2px solid #000;
    padding: 0px 20px;
    border-radius: 12px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
    box-sizing: border-box;
    color: #000;
}

.mr30 {
    margin-right: 30px;
}